:root {
	--red-color: #ff7961;
	--footer-height: 3rem;
	--header-height: 4rem;
	--global-background: #37474f;
}

.App {
	/*text-align: center;*/
	background-color: var(--global-background);
}

.App-header {
	height: var(--header-height);
	text-align: center;
	background-color: var(--red-color);
	font-size: 2rem;
	color: white;
}

.App-title {
	line-height: var(--header-height);
}

.App-footer {
	height: var(--footer-height);
	text-align: center;
	background-color: var(--red-color);
	position: absolute;
	width: 100%;
	color: white;
	bottom: 0;
	font-size: 1rem;
}

.App-credits {
	line-height: var(--footer-height);
}
